<!-- <section id="add">  
  <form action="/" method="post">  
  	<label for"title">Titre</label>
 	<input type="text" name="title">
    <textarea name="content" placeholder="Your note&hellip;"></textarea>  
    <input type="submit" value="Take Note!">  
  </form>  
</section>  --> 

<div id="left"> 
	<select id="tri" name= "tri" class="chzn-select">
	<option value="1">Note par date de creation</option>
	<option value="2">Note par date de modification</option>
	<option value="3">Note par titre</option>
</select><br>
 <span><a href="new">Nouvelle note</a></span> 
 
 
  <ol id="documents-list">
        <li data-template><article >  
    <p class="links">   
      <div id ="{{ id }}">
      <a href="/?id{{ id }}&tri={{ tri }}"><{{ title }}></a>
      </div>
    </p> 
    <p class="meta">Created: {{ created_at }}</p>  
  </article></li>
    </ol>
</div>
