 <div id="main"></div>

<div id="left">
    <ol id="documents-list">
      <a class="create" href="#">Nouvelle note</a><br>
        <li data-template><div id="{{id}}"><article><p>
         <a href="#/{{id}}"> {{title}}</a>&nbsp;&nbsp;<a href="#/del/{{id}}"><button>X</button></a></p>
          <p> {{ created_at }}</p></article></div>
        </li>
    </ol>
</div>
<div id="right">
  <ol id="sole_note">
        <li data-template>
         <a class="right_button_link" href="#/val/{{id}}"><button class="validate">Valider</button></a><br>Titre :
    <div id="edit_title" contenteditable="true">
       {{ title }}
    </div><br>
    <div id="edit_content" contenteditable="true">
     {{ content }}
    </div>
        </li>
    </ol>
</div>