<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="fr"> 
<head>  
  <meta charset="utf8">  
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/css/chosen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/vendors/Mustache.js"></script>
  <script type="text/javascript" src="js/vendors/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="js/vendors/underscore.js"></script>
  <script type="text/javascript" src="js/vendors/backbone.js"></script>
  <script type="text/javascript" src="js/vendors/backbone-localstorage.js"></script>
  <script type="text/javascript" src="js/vendors/tempo-min.js"></script>
 <title><%= @title %></title>
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Yet Another Get Things Done</a></h1> 
      <h2></h2>  
    </hgroup>  
  </header>  
  
  <div id="container">  
    <%= yield %>  
  </div>  
  
  <footer>  
   
  </footer>  
  
   <!-- Load script -->
  
  <script type="text/javascript" src="/js/main.js"></script>
  
  
</body>  
</html>  